<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo-container">
        <a href="index.html" class="logo">
          <img src="assets/img/tnhb-logo.png" alt="Center Logo">
        </a>
        <span class="logo-text">Tamil Nadu Housing Board</span>

        <a href="#" class="logo">
          <img src="assets/img/tn_logo.png" alt="Right Logo">
        </a>
        <span class="logo-text">தமிழ்நாடு வீட்டு வசதி வாரியம்</span>

        <a href="#" class="logo">
          <img src="assets/img/100years.png" alt="Right Logo">
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a style="text-decoration: none;" [routerLink]="['/home']">Home</a></li>
          <li><a style="text-decoration: none; " [routerLink]="['/addproject/add-items-layout']">Add Layout</a></li>
          <li><a style="text-decoration: none;" [routerLink]="['/addproject/add-items']">Add Project</a></li>
          <li><a style="text-decoration: none;" [routerLink]="['/report']">Report</a></li>
          <li><a style="text-decoration: none;" [routerLink]="['']">Logout</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Project</h2>
        <ol>
          <!-- <li><a href="index.html">Home</a></li> -->
          <li *ngFor="let projects of project">{{projects.project_name }}</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">

          <div class="single" *ngFor="let projects of project">
            <div class="comment-form wow fadeInUp">
              <a class="btn " routerLink="/editproject/{{ projects.mid }}" style="display: inline-block;"><i
                  class="bi bi-pen-fill"></i> Edit</a>
              <a class="btn ml-3" (click)="Delete( projects.project_name )" style="display: inline-block;"><i
                  class="bi bi-trash-fill"></i> Delete</a>

              <a class="btn ml-3" (click)="Print()" style="display: inline-block;"><i
                  class="bi bi-cloud-download-fill"></i> Download Report</a>

              <a class="btn ml-3" href="{{projects.map}}" target="_blank" style="display: inline-block;"><i
                  class="bi-geo-alt-fill"></i> Location</a>

            </div>
            <br>

            <ul>
              <li><i class="bi bi-check-circle"></i>
                <h6>Last Updated by <span style="color:blue"> {{ projects.editby }}</span> on {{ projects.timestamp}}
                </h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-weight: bold;">Uptodate images of the Project</span>
              </li>

            </ul>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-lg-8">
            <div style="text-align: center;  color: red;" *ngIf="project.length === 0">
              <h2>

                No Record Found for Current Month</h2>
            </div>
            <div class="services-list">
              <div *ngFor="let projects of project">

                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Project
                    Name :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.project_name}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Project
                    Code :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.uniquecode}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">City/Rural
                    :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.citynrural}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Circle
                    :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.circle}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Division
                    :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.division}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Village
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.village}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">SF/TS
                    No :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.surveyno}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Extent
                    (Acres) :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.totalextent}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">B.R_No_Date
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.b_R_No_AndDate}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">FS
                    Value(Rs):-</span> <span style="font-weight: bold;font-size: 20px;">
                    Rs.{{projects.fsAdministrativesanctionValue}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">WC79(Rs)
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> Rs.{{projects.wc79}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">RFS(Rs)
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> Rs.{{projects.revisedFS}} </span>
                  <br /></a>
                <!-- <a style="display: block; text-align: left;"><span style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Layout Approval :-</span>  <span  style="font-weight: bold;font-size: 20px;" > {{projects.layoutApproval}} </span> <br /></a> -->
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Planning
                    Permission :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.planningPermission}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Building
                    Permission :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.buildingPermission}} </span> <br /></a>

                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Contractor
                    :-</span> <span style="font-weight: bold;font-size: 20px;">{{projects.contractorName}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Agreement
                    Value(Rs):-</span> <span style="font-weight: bold;font-size: 20px;">Rs. {{projects.agreementValue1}}
                  </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">DOC:-</span>
                  <span style="font-weight: bold;font-size: 20px;"> {{projects.dateOfCommencement}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">DDC
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.dueDateOfCompletion}} </span>
                  <br /></a>

                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Expenditure
                    :-</span> <span style="font-weight: bold;font-size: 20px;">Rs. {{projects.expenditureSoFar}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">
                    LC released(current month)(Rs) :-</span> <span style="font-weight: bold;font-size: 20px;">
                      Rs.{{projects.lc_released_current_month}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Physical
                    Progress(%) :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.physicalProgress}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">
                    Financial Progress(%) :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.financialProgress}} </span> <br /></a>

                <a style="display: block; text-align: left;"> <span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">PMC
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.pmc}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">PMC
                    Agreement :-</span> <span style="font-weight: bold;font-size: 20px;">
                    Rs.{{projects.pmcAgreementValue}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">PMC
                    Expenditure :-</span> <span style="font-weight: bold;font-size: 20px;">
                    Rs.{{projects.pmcExpenditureSoFar}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">PMC
                    LC Released(current month)(Rs) :-</span> <span style="font-weight: bold;font-size: 20px;">
                      Rs.{{projects.pmc_lc_released}} </span> <br /></a>

                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">TANGEDCO
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.eb}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">CMWSSB/TWAD
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.cmwssb_twad}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Completion
                    Certificate:-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.completionCertificate}} </span> <br /></a>

                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Cost
                    (Rs):-</span> <span style="font-weight: bold;font-size: 20px;">Rs.{{projects.costingStatus}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">RERA
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{projects.rera}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Completion
                    Report :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{projects.dateOfCompletionReport2}} </span> <br /></a>
              </div>
              <div *ngFor="let project of projects;let i = index">
                <h2 style="font-size: 20px;">Development Work {{ i + 1 }}</h2>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Name
                    of Work :-</span> <span style="font-weight: bold;font-size: 20px;"> {{project?.developmentWork}}
                  </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Contractor
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{project?.developmentContractors}}
                  </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Agreement
                    Value(Rs) :-</span> <span style="font-weight: bold;font-size: 20px;">Rs.{{project?.agreementValue}}
                  </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">DOC:-</span>
                  <span style="font-weight: bold;font-size: 20px;"> {{project?.dateOfCompletion}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">DDC
                    :-</span> <span style="font-weight: bold;font-size: 20px;"> {{project?.dateOfCompletionReport}}
                  </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Expenditures
                    (Rs):-</span> <span style="font-weight: bold;font-size: 20px;">Rs.{{project?.expenditureSoFar1}} </span>
                  <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">LC
                    Released(current)(Rs) :-</span> <span style="font-weight: bold;font-size: 20px;">
                      Rs.{{project?.workLC_released}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">Physical
                    Progress(%) :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{project?.physicalProgressDev}} </span> <br /></a>
                <a style="display: block; text-align: left;"><span
                    style="font-size: 16px;width: 300px;clear: left;float: left;text-align: left;padding-right: 10px;">
                    Financial Progress(%) :-</span> <span style="font-weight: bold;font-size: 20px;">
                    {{project?.financialProgressDev}} </span> <br /></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">


            <div class="container row">
              <div class="col-md-12">
                <div>
                  <div class="card-header"></div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let file of pdfFiles">
                      <ng-container *ngIf="file.type === 'application/pdf'">
                        <a [href]="file.url" download="{{ file.name }}.pdf">{{ file.name }}</a>
                        <a class="btn ml-3" (click)="onDeleteFile($event, file.url)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </ng-container>
                    </li>
                  </ul>
                  <ul class="list-group list-group-flush" *ngFor="let file of fileInfos ">
                    <li class="list-group-item">
                      <img src="{{ file.url }}" alt="{{ file.name }}" width="100%" />
                    </li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>TNHB</h3>
              <p>
                CMDA Complex, E&C Market Road,
                Koyambedu, <br>
                Chennai - 600 107<br><br>
                <strong>Phone:</strong>(044)24794201<br>
                <strong>Email:</strong>contact@tnhb.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->


        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>BOCXY</span></strong>. All Rights Reserved
        </div>

      </div>
    </div>

  </footer>
  <!-- End Footer -->
